<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sco.imuvo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ImuvoTheme.">
        <activity
            android:name=".Activities.LogIn"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MenuImuvo"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.CreateUserActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.vocabReadingSelection"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.readVocabs"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabList"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.askVocabs"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.LectionList"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.testSelection"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.resultAfterAsking"
            android:screenOrientation="nosensor" />
        <activity android:name=".Activities.play"></activity>
    </application>

</manifest>