<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sco.imuvo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ImuvoTheme.">
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Menu"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.CreateUser"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyLectionSelection"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyRead"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyList"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyQuery"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyLectionList"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyTestSelection"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activities.VocabularyResult"
            android:screenOrientation="nosensor" />
        <activity android:name=".Activities.VocabularyPlay"></activity>

        <!--Auth0 Lock-->
        <activity
            android:name="com.auth0.lock.LockActivity"
            android:theme="@style/Lock.Theme"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="a0@string/auth0_client_id"
                    android:host="@string/auth0_domain"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.auth0.lock.client-id" android:value="@string/auth0_client_id"/>
        <meta-data android:name="com.auth0.lock.domain-url" android:value="@string/auth0_domain"/>
        <!--Auth0 Lock End-->
    </application>

</manifest>